.btn{
  font: inherit;
  padding: .5rem;
  margin: 1rem;
  cursor: pointer;
}
.btn:disabled,
.btn:disabled:hover,
.btn:disabled:active{
  opacity: .5;
  background: rgba(128, 128, 128,.5);
  cursor: not-allowed;
  color: #242425;
}

.okBtn {
  background: rgba(33, 139, 36, 1);
  color: white;
}

.okBtn:hover,
.okBtn:active {
  background: rgba(33, 139, 36, 0.7);
}

.cancelBtn {
  background: rgba(177, 34, 34, 1);
  color: white;
}

.cancelBtn:hover,
.cancelBtn:active {
  background: rgba(177, 34, 34, 0.7);
}
