.container{
  height: 100%;
  cursor: pointer;
}
.container img{
  width: 4rem;
  height: 4rem;
  filter: invert(28%) sepia(26%) saturate(860%) hue-rotate(188deg) brightness(98%) contrast(93%);
}

.container:hover,
.container:active{
  background:rgba(0,0,0,.2);
}
@media (min-width: 500px) {
  .container{
    display: none;
  }
}