.formContainer {
  display: grid;
  grid-row-gap: 1rem;
  /*justify-content: center;*/
}

.formContainer h2, .formContainer h4 {
  margin: 0;
  padding: 0;
}

.buttonConfirm {
  margin: .5rem 0;
}

@media (min-width: 500px){
    .formContainer{
      justify-content: center;
    }
}