.formItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.formItem input,
.formItem select {
  margin-left: 1.5rem;
  font: inherit;
  display: block;
  outline: none;
  border: lightblue solid 2px;
  border-radius: 8px;
}

.formItem select {
  transform: translateX(-40px);
}

.formItem input:focus,
.formItem input:active {
  border-color: forestgreen;
}

.formItem input:hover {
  background: rgba(233, 227, 227, 0.1);
}